# Day 5 Activity

[session link](https://eds-217-essential-python.github.io/course-materials/eod-practice/eod-day5.html)

In [79]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the data
url = "https://github.com/TheEconomist/banana-index-data/releases/download/1.0/bananaindex.csv"
df = pd.read_csv(url)

In [28]:
# Display the first few rows:
#print(df.head())

# Display the dataframe info:
#print(df.info())

## Data Preparation

In [80]:
# Set the index of the DataFrame to be the ‘entity’ column.
df = df.set_index('entity')

In [81]:
# Remove the ‘year’, ‘Banana values’, ‘type’, ‘Unnamed: 16’, and ‘Chart?’ columns.
df = df.drop(columns = ['year', 'Banana values', 'type', 'Unnamed: 16', 'Chart?'])
df.head()

,emissions_kg,emissions_1000kcal,emissions_100g_protein,emissions_100g_fat,land_use_kg,land_use_1000kcal,Land use per 100 grams of protein,Land use per 100 grams of fat,Bananas index (kg),Bananas index (1000 kcalories),Bananas index (100g protein)
entity,,,,,,,,,,,
Ale,0.488690,0.317338,0.878525,2.424209,0.811485,0.601152,1.577687,3.065766,0.559558,0.362340,0.113771
Almond butter,0.387011,0.067265,0.207599,0.079103,7.683045,1.296870,3.608433,1.495297,0.443134,0.076804,0.026885
Almond milk,0.655888,2.222230,13.595512,4.057470,1.370106,2.675063,12.687839,4.600530,0.751002,2.537364,1.760651
Almonds,0.602368,0.105029,0.328335,0.119361,8.230927,1.423376,4.261040,1.610136,0.689721,0.119923,0.042520
Apple juice,0.458378,0.955184,29.152212,19.754980,0.660629,1.382839,43.232158,26.246743,0.524851,1.090638,3.775280

## Exploring Banana Scores
For each of the pre-computed banana score columns (kg, calories, and protein), show the 10 highest-scoring food products.

Edit the function below so that is returns the top 10 scores for a given column:

## Common high scoring foods

In [104]:
df.sort_values('Bananas index (kg)', ascending = False).head(10)
df.sort_values('Bananas index (1000 kcalories)', ascending = False).head(10)
df.sort_values('Bananas index (100g protein)', ascending = False).head(10)

,emissions_kg,emissions_1000kcal,emissions_100g_protein,emissions_100g_fat,land_use_kg,land_use_1000kcal,Land use per 100 grams of protein,Land use per 100 grams of fat,Bananas index (kg),Bananas index (1000 kcalories),Bananas index (100g protein),Bananas index (land use 1000 kcal)
entity,,,,,,,,,,,,
Coconut milk,3.319990,12.848692,257.293857,28.268731,0.545269,2.216621,32.738749,4.415864,3.801444,14.670763,33.320155,0.815571
Sugar,1.851686,0.464977,159.733044,239.244524,2.153669,0.539469,198.893081,293.640795,2.120211,0.530915,20.685802,0.198489
Grapes,8.278876,12.671419,116.820455,203.724449,1.536532,2.349845,21.639156,37.785507,9.479453,14.468351,15.128521,0.864588
Beef steak,129.747715,68.095953,64.190391,146.107870,427.331126,223.690135,211.381205,478.803717,148.563324,77.752629,8.312805,82.303271
Raspberries,8.370972,24.614978,60.839171,186.986093,1.544836,4.542864,11.227628,34.509046,9.584904,28.105624,7.878815,1.671476
Beef mince,95.034572,47.336598,53.111026,80.581707,295.253544,147.166781,162.955867,250.174427,108.816189,54.049393,6.878002,54.147705
Marmalade,1.548921,0.763164,50.158821,75.682636,1.730099,0.757672,54.982653,83.314984,1.773541,0.871388,6.495684,0.278773
Butter,3.324503,1.165393,47.816151,1.414657,3.619797,1.250474,53.342141,1.500628,3.806612,1.330657,6.192303,0.460092
Lettuce,4.926023,25.324299,39.949626,64.423953,6.781334,34.681560,54.330936,87.018948,5.640380,28.915534,5.173570,12.760535
Beef meatballs,70.787474,31.338691,35.620428,52.661812,214.995398,94.463012,106.472397,157.280237,81.052853,35.782826,4.612929,34.756181

In [105]:
# Create a function to sort 
def return_top_ten(df, column):
    new_df = df.sort_values(column, ascending = False).head(10).copy()
    return new_df[column]

In [106]:
# Assign to df
kg_df = return_top_ten(df, column='Bananas index (kg)')
kcal_df = return_top_ten(df, column='Bananas index (1000 kcalories)')
protein_df = return_top_ten(df, column='Bananas index (100g protein)')
print(protein_df)
kg_df.dtypes

entity
Coconut milk      33.320155
Sugar             20.685802
Grapes            15.128521
Beef steak         8.312805
Raspberries        7.878815
Beef mince         6.878002
Marmalade          6.495684
Butter             6.192303
Lettuce            5.173570
Beef meatballs     4.612929
Name: Bananas index (100g protein), dtype: float64

dtype('float64')

In [107]:
# change to set
kg_set = set(kg_df.index)
kcal_set = set(kcal_df.index)
protein_set = set(protein_df.index)
print(kg_set)
print(kcal_set)
print(protein_set)

{'Beef steak', 'Lamb burgers', 'Beef meatballs', 'Beef mince', 'Lamb chops', 'Beef burger', 'Prawns', 'Cottage cheese', 'Lamb (leg)', 'Parmesan cheese'}
{'Beef steak', 'Beef meatballs', 'Beef mince', 'Raspberries', 'Beef burger', 'Prawns', 'Coconut milk', 'Lettuce', 'Cottage cheese', 'Lamb (leg)'}
{'Beef steak', 'Butter', 'Sugar', 'Marmalade', 'Beef meatballs', 'Beef mince', 'Raspberries', 'Coconut milk', 'Lettuce', 'Grapes'}

In [108]:
# find intersection
in_all_three = set.intersection(kg_set, kcal_set, protein_set)
print(in_all_three)

{'Beef steak', 'Beef meatballs', 'Beef mince'}

## 4 Land Use Analysis
Create a new column named ‘Bananas index (land use 1000 kcal)’, calculating that food item’s use of land for every 1,000 kcal in comparison to a banana.

The data on land_use_1000kcal for bananas is found as the entry for this column in the Bananas row.

Display the 10 foods with the highest land use score.

Compare this list with the previous top 10 lists. Are there any common foods?

In [103]:
bananas_land_use_kcal = df.loc['Bananas', 'land_use_1000kcal']

df['Bananas index (land use 1000 kcal)'] = df['land_use_1000kcal'] / bananas_land_use_kcal
df.sort_values('Bananas index (land use 1000 kcal)', ascending = False).head(10)

,emissions_kg,emissions_1000kcal,emissions_100g_protein,emissions_100g_fat,land_use_kg,land_use_1000kcal,Land use per 100 grams of protein,Land use per 100 grams of fat,Bananas index (kg),Bananas index (1000 kcalories),Bananas index (100g protein),Bananas index (land use 1000 kcal)
entity,,,,,,,,,,,,
Beef steak,129.747715,68.095953,64.190391,146.107870,427.331126,223.690135,211.381205,478.803717,148.563324,77.752629,8.312805,82.303271
Beef mince,95.034572,47.336598,53.111026,80.581707,295.253544,147.166781,162.955867,250.174427,108.816189,54.049393,6.878002,54.147705
Beef meatballs,70.787474,31.338691,35.620428,52.661812,214.995398,94.463012,106.472397,157.280237,81.052853,35.782826,4.612929,34.756181
Beef burger,53.976371,21.905134,28.806286,32.719983,135.347117,54.560874,71.225132,83.275825,61.803856,25.011498,3.730481,20.074816
Cottage cheese,25.278503,29.346968,22.337566,244.477973,29.915060,34.694337,26.410036,288.289479,28.944313,33.508657,2.892767,12.765236
Lettuce,4.926023,25.324299,39.949626,64.423953,6.781334,34.681560,54.330936,87.018948,5.640380,28.915534,5.173570,12.760535
Lamb (leg),30.740947,15.182483,16.628529,23.442815,43.422118,21.444985,23.488031,33.112524,35.198904,17.335509,2.153433,7.890345
Lentils,2.536520,1.963402,2.038745,20.297440,27.474861,20.535191,20.900057,218.492031,2.904358,2.241832,0.264022,7.555601
Lamb chops,30.901993,11.828168,17.188501,14.535445,43.660000,16.711250,24.284651,20.536132,35.383303,13.505518,2.225951,6.148642
Chilli con carne,13.540805,7.844403,17.688434,13.005458,28.304685,16.398791,36.975192,27.188393,15.504450,8.956816,2.290694,6.033678

There's a lot of beef in the common foods. And cheese

## 5. Cheese Analysis

Identify the type of cheese with the highest banana score per 1,000 kcal. How does it compare to other cheeses in the dataset?

In [118]:
# Cottage cheese is the highest 
df.isin(['Ricotta cheese', 'Parmesan cheese', 'Mozzarella', 'Macaroni cheese', 'Halloumi cheese', "Goat's cheese", 'Feta cheese', 'Cottage cheese', 'Cheddar cheese', 'Camembert', 'Brie', 'Blue cheese'])
#df[ df['major'].isin(['Engineering', 'Chemistry', 'Physics']) ]

,emissions_kg,emissions_1000kcal,emissions_100g_protein,emissions_100g_fat,land_use_kg,land_use_1000kcal,Land use per 100 grams of protein,Land use per 100 grams of fat,Bananas index (kg),Bananas index (1000 kcalories),Bananas index (100g protein),Bananas index (land use 1000 kcal)
entity,,,,,,,,,,,,
Ale,False,False,False,False,False,False,False,False,False,False,False,False
Almond butter,False,False,False,False,False,False,False,False,False,False,False,False
Almond milk,False,False,False,False,False,False,False,False,False,False,False,False
Almonds,False,False,False,False,False,False,False,False,False,False,False,False
Apple juice,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Tortilla wraps,False,False,False,False,False,False,False,False,False,False,False,False
Tuna,False,False,False,False,False,False,False,False,False,False,False,False
Walnuts,False,False,False,False,False,False,False,False,False,False,False,False
Watermelon,False,False,False,False,False,False,False,False,False,False,False,False
Yoghurt,False,False,False,False,False,False,False,False,False,False,False,False

In [119]:
df.filter(cheese)

ValueError: Index data must be 1-dimensional

In [123]:
# String contains
cheeses = df[df.index.str.contains('cheese')]
print(cheeses)

                      emissions_kg  emissions_1000kcal  \
entity
Blue cheese              20.105753            6.113389
Cheddar cheese           20.749045            5.406193
Chocolate cheesecake      4.900424            1.198627
Cottage cheese           25.278503           29.346968
Feta cheese              14.838609            5.042113
Goat’s cheese            19.312073            6.220251
Halloumi cheese          16.172452            5.282519
Macaroni cheese          16.849313            5.245219
Mozzarella cheese        16.233200            6.764520
Parmesan cheese          24.016480            6.369095
Ricotta cheese           16.294974            5.201455

                      emissions_100g_protein  emissions_100g_fat  land_use_kg  \
entity
Blue cheese                        14.046817            7.243054    23.892146
Cheddar cheese                      8.721144            6.693239    24.451037
Chocolate cheesecake               10.409508            1.922302     6.511175
Cottage cheese                     22.337566          244.477973    29.915060
Feta cheese                         8.418578            5.984398    17.472121
Goat’s cheese                      12.548149            7.478561    22.617936
Halloumi cheese                     7.035951            7.141841    19.101111
Macaroni cheese                     9.361866            7.742616    20.686935
Mozzarella cheese                   8.797819            9.417882    19.061286
Parmesan cheese                     8.438339            8.307382    28.249496
Ricotta cheese                      8.801847            6.620459    18.968722

                      land_use_1000kcal  Land use per 100 grams of protein  \
entity
Blue cheese                    7.249884                          16.395390
Cheddar cheese                 6.353026                          11.783915
Chocolate cheesecake           1.592635                          13.830795
Cottage cheese                34.694337                          26.410036
Feta cheese                    5.934872                           9.907002
Goat’s cheese                  7.295756                          14.445831
Halloumi cheese                6.247765                           8.302601
Macaroni cheese                6.597463                          12.132912
Mozzarella cheese              7.936335                          10.341435
Parmesan cheese                7.495260                           9.939259
Ricotta cheese                 6.017695                          10.139899

                      Land use per 100 grams of fat  Bananas index (kg)  \
entity
Blue cheese                                8.581762           23.021427
Cheddar cheese                             7.830016           23.758006
Chocolate cheesecake                       2.554226            5.611068
Cottage cheese                           288.289479           28.944313
Feta cheese                                7.044679           16.990458
Goat’s cheese                              8.773460           22.112650
Halloumi cheese                            8.456865           18.517731
Macaroni cheese                           10.102668           19.292748
Mozzarella cheese                         11.016421           18.587288
Parmesan cheese                            9.773975           27.499275
Ricotta cheese                             7.649686           18.658020

                      Bananas index (1000 kcalories)  \
entity
Blue cheese                                 6.980327
Cheddar cheese                              6.172845
Chocolate cheesecake                        1.368605
Cottage cheese                             33.508657
Feta cheese                                 5.757135
Goat’s cheese                               7.102344
Halloumi cheese                             6.031632
Macaroni cheese                             5.989042
Mozzarella cheese                           7.723795
Parmesan cheese                             7.272295
Ricotta cheese                              5.939072

                      Bananas index (100g protein)  \
entity
Blue cheese                               1.819096
Cheddar cheese                            1.129409
Chocolate cheesecake                      1.348056
Cottage cheese                            2.892767
Feta cheese                               1.090225
Goat’s cheese                             1.625015
Halloumi cheese                           0.911172
Macaroni cheese                           1.212383
Mozzarella cheese                         1.139338
Parmesan cheese                           1.092785
Ricotta cheese                            1.139860

                      Bananas index (land use 1000 kcal)
entity
Blue cheese                                     2.667481
Cheddar cheese                                  2.337496
Chocolate cheesecake                            0.585985
Cottage cheese                                 12.765236
Feta cheese                                     2.183643
Goat’s cheese                                   2.684359
Halloumi cheese                                 2.298767
Macaroni cheese                                 2.427433
Mozzarella cheese                               2.920050
Parmesan cheese                                 2.757763
Ricotta cheese                                  2.214116

In [124]:
cheeses = df[df.index.str.contains('cheese')]

In [126]:
cheese = df.index.isin(['Ricotta cheese', 'Parmesan cheese', 'Mozzarella', 'Macaroni cheese', 'Halloumi cheese', "Goat's cheese", 'Feta cheese', 'Cottage cheese', 'Cheddar cheese', 'Camembert', 'Brie', 'Blue cheese'])
print(cheese)
df.filter(cheese)

[False False False False False False False False False False False False
 False False False False False False False False False False  True False
 False False  True False False False False  True False False False False
 False  True False False False False False False False False False False
 False False False False False False False False False  True False False
 False False False False False False False False False False  True False
 False False False False False False False False False  True False False
 False False False False False False False False False  True False False
 False False False False False False False False False False False False
 False False False False False  True False False False False False False
 False False False False False False False False False False False False
 False False False False False False False  True False False False False
 False False False False False False False False False False False False
 False False False False]

Empty DataFrame
Columns: []
Index: [Ale, Almond butter, Almond milk, Almonds, Apple juice, Apple pie, Apples, Asparagus, Avocados, Bacon, Bagels, Baguette, Banana loaf, Bananas, Beans, Beef burger, Beef meatballs, Beef mince, Beef steak, Beer, Beetroot, Biscuits, Blue cheese, Brazil nuts, Bread, Breakfast cereal, Brie, Broccoli, Butter, Cabbage, Caesar salad, Camembert, Carrot cake, Carrots, Cashew nuts, Cauliflower, Cereal bars, Cheddar cheese, Cheesecake, Cherry tomatoes, Chia seeds, Chicken breast, Chicken burger, Chicken sausages, Chicken thighs, Chicken wings, Chickpeas, Chilli con carne, Chocolate biscuits, Chocolate cake, Chocolate cheesecake, Chocolate spread, Coconut milk, Coconut oil, Cod, Cod fish fingers, Cod fishcakes, Cottage cheese, Courgettes, Couscous, Cow’s milk, Cracker biscuits, Crisps, Croissants, Cucumber, Dark chocolate, Doughnuts, Egg noodles, Eggs, Falafels, Feta cheese, Frozen chips (french fries), Frozen onion rings, Frozen potato wedges, Frozen roast potatoes, Frozen sweet potato fries, Fruit cake, Garden peas, Goat’s cheese, Granola, Grapes, Halloumi cheese, Ice cream, Ice lollies, Kale, Kiwis, Lamb (leg), Lamb burgers, Lamb chops, Lemons, Lentils, Lettuce, Limes, Macaroni cheese, Mackerel, Marmalade, Meat-free burger, Meat-free mince, Meat-free sausages, Melon, ...]

[160 rows x 0 columns]